.home-page {

    .hero {
        background-color: $clrPrimary1;

        .section-container {
            display: grid;
            grid-auto-flow: column;
            align-items: end;
            column-gap: 200px;
            row-gap: 155px;
            padding-block-start: 57px;

            p {
                grid-row: 1;
            }

            .special-bg {
                grid-row: 2;
                grid-column: 2;
                padding-inline-start: 87px;
            }
        }

    }

    .highlight-list {
        background-color: $clrSecondary-1;
        padding-block: 140px;

        .section-container {
            display: grid;
            grid-auto-flow: column;
        }

        h3 {
            // font-size: rem(48px);
        }

        .content {
            display: grid;
        }

    }

    .testimonials {
        background-color: $clrSecondaryBase;
        text-align: center;
        padding-block: 140px;

        h3 {
            font-size: rem(48px);
            margin-block-end: 85px;
        }

        .content {
            display: grid;
            grid-auto-flow: column;
            gap: 30px;

            .testimony {
                display: grid;
                justify-items: center;
                gap: 24px;

                img {
                    margin-block-start: 28px;
                    border-radius: 50%;
                    height: 62px;
                    width: 62px;
                    border: 2px solid $clrSecondary3;

                }
            }
        }
    }

    .call-to-action {
        background-color: $clrPrimary2;
        padding-block: 76px;
        color: $clrSecondary-1;

        .section-container {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-content: center;
            gap: 260px
        }

        h3 {
            font-size: rem(48px);
        }
    }
}