.home-page {


    .hero {
        background-color: $clrPrimary1;

        .section-container {
            display: grid;
            padding-block-start: 57px;
            row-gap: 25px;
            align-items: center;
            width: 100%;
            justify-content: center;
            justify-items: center;
            text-align: center;

            @include for-wide-layout {
                grid-auto-flow: column;
                align-items: end;
                justify-content: space-between;
                row-gap: 155px;
                text-align: unset;

            }

            .content {
                grid-row: 2;
                position: relative;
                display: grid;

                @include for-narrow-layout {
                    max-width: 457px;
                }

                @include for-wide-layout {
                    grid-row: 1;
                    align-content: space-between;
                    height: 100%;
                    max-width: 445px;

                }

                .deco-line {
                    @include for-wide-layout {
                        height: 4px;
                        width: 50px;
                        background-color: $clrSecondary2;

                    }
                }

            }

            .special-bg {
                grid-row: 3;
                grid-column: 1;
                max-width: 360px;
                padding-block-start: 130px;

                @include for-wide-layout {
                    grid-row: 2;
                    grid-column: 2;
                    max-width: unset;
                    padding-block-start: unset;
                    padding-inline-start: 87px;

                }
            }

            @include for-wide-layout {
                .title {
                    position: relative;
                }

                .title::before {
                    content: url('/images/bg-pattern-home-1.svg');
                    width: 200px;
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    transform: translate(-40%, -50%);
                }

            }

        }

    }

    .highlight-list {
        background-color: $clrSecondary-1;
        padding-block: 100px;
        position: relative;
        overflow: hidden;

        .deco-img {
            max-width: 200px;
            position: absolute;
            right: 0;
            top: 0;
            translate: 50%;

            @include for-wide-layout {
                top: unset;
                bottom: 0;
            }
        }

        @include for-normal-layout {
            padding-block: 140px;
        }

        @include for-wide-layout {
            padding-block: 200px;

        }

        .section-container {
            display: grid;

            @include for-wide-layout {
                grid-auto-flow: column;
                gap: 125px;
            }
        }

        .list-title {
            position: relative;
            padding-block-end: 56px;
            max-width: 240px;

            @include for-normal-layout {
                max-width: 445px;
            }

            @include for-wide-layout {}

            &::before {
                content: "";
                position: absolute;
                top: -32px;
                height: 4px;
                width: 50px;
                background-color: $clrPrimary2;

                @include for-wide-layout {
                    top: -54px
                }
            }
        }

        .content {
            display: grid;
            gap: 48px;

            @include for-normal-layout {
                gap: 32px;
            }

        }

        .highlight-preview {
            display: grid;
            justify-items: center;

            img {
                max-width: 72px;
            }

            @include for-normal-layout {
                grid-template-columns: auto 1fr;
                gap: 22px;
                align-items: center;
            }

            @include for-wide-layout {
                justify-items: start;
            }

            &:last-child p {
                @include for-wide-layout {
                    max-width: 365px;
                }
            }


            .preveiw-content {
                text-align: center;

                @include for-normal-layout {
                    text-align: unset;
                }

                .title {
                    color: $clrPrimary2;
                    margin-block-start: 16px;
                }
            }
        }

    }

    .testimony-list {
        background-color: $clrSecondaryBase;
        text-align: center;
        padding-block: 140px;
        position: relative;

        .deco-img {
            position: absolute;
            max-width: 147px;
            grid-column: 1;

            &.bottom {
                bottom: 0;
                right: 0;
            }

            &.top {
                top: 0;
                left: 0;
            }
        }

        .section-container {
            display: grid;
            justify-items: center;
        }


        .title {
            margin-block-end: 85px;
            max-width: 930px;

            mark {
                color: $clrSecondary2;
            }

        }


        .content {
            display: grid;
            gap: 85px;

            @include for-wide-layout {
                grid-auto-flow: column;
                gap: 30px;
            }

            .testimony-preview {
                display: grid;
                justify-items: center;
                position: relative;

                &::before {
                    content: url('/images/icon-quotes.svg');
                    width: 67px;
                    position: absolute;
                    right: 50%;
                    top: 0;
                    transform: translate(50%, -50%);
                    opacity: 0.5;

                }

                .name {
                    font-size: em(18px, 15px);
                    color: $clrSecondary2;
                    padding-block: 16px 36px;

                    @include for-wide-layout {
                        padding-block: 24px 52px;
                    }
                }

                p {
                    z-index: 5;
                }

                img {
                    // margin-block-start: 28px;
                    border-radius: 50%;
                    height: 62px;
                    width: 62px;
                    border: 2px solid $clrSecondary3;

                }
            }
        }
    }

    .call-to-action {
        background-color: $clrPrimary2;
        color: $clrSecondary-1;
        position: relative;
        overflow: hidden;

        // @include for-normal-layout {
        padding-block: 84px;

        // }

        @include for-wide-layout {
            padding-block: 76px;

        }

        .section-container {
            display: grid;
            align-items: center;
            justify-items: center;
            gap: 24px;
            text-align: center;

            @include for-normal-layout {
                grid-auto-flow: column;
                padding-inline: 5%;
                justify-items: normal;
                gap: unset;
                text-align: unset;
            }

            @include for-wide-layout {
                padding-inline: 12%;
            }
        }

        .deco-img {
            position: absolute;
            bottom: 0;
            max-width: 200px;
            grid-column: 1;

            // @include for-normal-layout {
            translate: 0 20px;
            // }

            @include for-wide-layout {
                translate: unset;
            }
        }

        .btn {
            @include btn($type: darkish);

            @include for-normal-layout {
                justify-self: end;
            }
        }
    }
}