.app-header {
    background-color: $clrPrimary1;
    padding-block-start: 77px;
    padding-block-end: 139px;


    // .user-info {
    //     // background-color: $clr2;
    //     // padding: 2px 8px;
    //     padding-left: 100px;
    //     color: $clr1;

    //     .score {
    //         background-color: $clr2;
    //         color: $clr6;
    //         padding: 8px;
    //         margin: 10px;
    //         border-radius: 50%;
    //     }

    //     img {
    //         width: 32px;
    //         height: 32px;
    //         border-radius: 50%;
    //         object-fit: cover;
    //     }
    // }

    // .user-info .btn-link {
    //     color: $clr2;
    // }

    img {
        max-width: 160px;
    }

    nav {
        font-size: .8em;
        width: 100%;
        // background-color: $clr5;
        // padding: 5px;

    }

    nav a:first-child {
        margin-inline-end: 40px;
        margin-inline-start: 80px;
    }

    nav a:last-child {
        margin-inline-start: auto;
    }

    nav a:not(:first-child) {
        // border-top: 1px solid $clr1;
        // padding: 0 5px;
        // margin: 10px;
    }

    nav .active {
        color: $clrPrimary2;
    }

}