.app-header {
    background-color: $clrPrimary1;
    padding-block-start: 73px;
    padding-block-end: 130px;

    img {
        max-width: 160px;
    }

    nav {
        width: 100%;

        a:first-child {
            margin-inline-start: 80px;
        }

        a:not(:first-child) {
            margin-inline-start: 40px;
        }

        a:last-child {
            margin-inline-start: auto;
        }

        .active {
            color: $clrPrimary2;
        }

    }

}