.app-header {
    background-color: $clrPrimary1;
    padding-block: 73px;
    // padding-block-end: 130px;
    position: sticky;
    top: 0;
    transition: box-shadow 0.3s ease-in-out;

    &.scrolled {
        box-shadow: 0 3px 5px #c4fffe38;
    }

    .logo {
        max-width: 160px;
    }

    .hamburger {
        margin-inline-start: auto;
        max-width: 20px;
    }

    nav {
        // display: none;
        width: 100%;

        a:first-child {
            margin-inline-start: 80px;
        }

        a:not(:first-child) {
            margin-inline-start: 40px;
        }

        a:last-child {
            margin-inline-start: auto;
        }

        .active {
            color: $clrPrimary2;
        }

    }

}