// Colors
$clrPrimary1: #014E56;
$clrPrimary2: #F67E7E;
$clrPrimary3: #FFFFFF;

$clrSecondary3: #C4FFFE;
$clrSecondary2: #79C8C7;
$clrSecondary1: #2C6269;
$clrSecondaryBase: #004047;
$clrSecondary-1: #012F34;
$clrSecondary-2: #002529;

// border 
$border-radius: 30px;

// Breakpoints
// $mobile-breakpoint: 327px;
$mobile-breakpoint: 460px;
$narrow-breakpoint: 690px;
$normal-breakpoint: 1110px;